*{
  margin: none;
  padding: none;
  box-sizing: border-box;
 }
body{
     background-color: #660099;
     height: auto;
     width: auto;
     text-align: center;
     justify-content: center;
     position: absolute;
    }
.imagecontainer{
                background-color: #660099;
                box-shadow: 0 0 10px rgba(0, 0, 0, 1.0);
                border-radius: 1rem;
                text-align: center;
                justify-content: center;
                align-items: center;
                width: 85rem;
                height: 35rem;
                margin: auto;
                object-fit: contain;
               }
img{
    width: 85rem;
    height: 35rem;
    border-radius: 1rem;
    margin: auto;
   }
.createaccountcontainer{
                        background-color: #660099;
                        color: #ffd700;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 1.0);
                        text-align: center;
                        border-radius: 1rem;
                        text-align: center;
                        width: 85rem;
                        height: 35rem;
                        margin: auto;
                        font-size: 3rem;
                       }
.firstname{
           float: left;
           margin-left: 5rem;
          }
.middlename{
            margin-left: 5rem;
            margin-right: 5rem;
           }
.lastname{
          float: right;
          margin-right: 5rem;
         }
.nameinputdiv{
              margin-top: none;
              margin-bottom: 2rem;
             }
.fninputspan{
             float: left;
             margin-left: 3rem;
            }
.mninputspan{
             margin-left: 3rem;
             margin-right: 3rem;
            }
.lninputspan{
             float: right;
             margin-right: 3rem;
            }
.nameinput{
           height: 3rem;
           width: 20rem; 
           border: none;
           border-radius: 3rem;
           text-align: center;
          }
.email{
       float: left;
       margin-left: 15rem;
      }
.contact{
         float: right;
         margin-right: 15rem;
        }
.emailphoneinputdivinputdiv{
                            margin-top: 5rem;
                            margin-bottom: 15rem;
                            display: flex;
                           }
.emailinputspan{
            float: left;
            margin-left: 8rem;
           }
.contactinputspan{
              float: right;
              margin-right: 8rem;
             }
.emailphoneinputs{
                  height: 3rem;
                  width: 30rem;
                  border: none;
                  border-radius: 3rem;
                  text-align: center;
                 }
.lebel{
       float: left;
       margin-left: 3rem;
      }
.spanselect{
            float: right;
            margin-right: 10rem;
           }
select{
       height: 3rem;
       width: 40rem;
       text-align: center;
       color: #ffd700;
       background-color: #660099;
       font-size: 2rem;
       font-weight: bold;
       border-color: #ffd700;
       border-radius: 3rem;
       border-width: medium;
      }
.password{
          float: left;
          margin-left: 17rem;
         }
.reenterpassword{
                 float: right;
                 margin-right: 12rem;
                }
.passwordinputspan{
              float: left;
              margin-left: 8rem;
             }
.reenterpasswordiputspan{
                     float: right;
                     margin-right: 8rem;
                    }
.passwordinput{
               height: 3rem;
               width: 30rem;
               border: none;
               border-radius: 3rem;
               text-align: center;
              }
.createaccountcontainerbutton{
                              background-color: #ffd700;
                              color: #660099;
                              height: 3rem;
                              width: 30rem;
                              margin-top: 2rem;
                              border-width: medium;
                              border-color: #ffd700;
                              border-radius: 3rem;
                              font-weight: bolder;
                              font-size: 1rem;
                             }
.createaccountcontainerbutton:hover{
                                    cursor: pointer;
                                    background-color: #000066;
                                    border-color: #000066;
                                    color: #fffafa;
                                   }
.logincontainer{
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                margin-top: 5rem;
                margin-bottom: 5rem;
                width: 50rem;
                height: 25rem;
                padding-top: 1rem;
                padding-bottom: 1rem;
                border-radius: 2rem;
                border-color: none;
                background-color: #660099;
                color: #ffd700;
                font-size: 3rem;
                box-shadow: 0 0 10px rgba(0, 0, 0, 1.0);
}
.loginconatinerinputs{
                      height: 4rem;
                      width: 40rem;
                      text-align: center;
                      border: none;
                      border-radius: 3rem;
                      margin-bottom: 1rem;
                     }
.websiteloginbutton{
                    background-color: #ffd700;
                    border-color: #ffd700;
                    color: #660099;
                    font-size: 1rem;
                    font-weight: bolder;
                    height: 3rem;
                    width: 4rem;
                    border-radius: 3rem;
                   }
.websiteloginbutton:hover{
                          background-color: #000066;
                          border-color: #000066;
                          color: #fffafa;
                         }
.forgotpasswordcontainer{
                         background-color: #660099;
                         color: #ffd700;
                         box-shadow: 0 0 10px rgba(0, 0, 0, 1.0);
                         text-align: center;
                         border-radius: 1rem;
                         align-items: center;
                         width: 85rem;
                         height: 35rem;
                         margin: auto;
                         font-size: 3rem;
                         padding: 3rem;
                        }
.hide{
      display: none;
     }
.fpinputs{
          height: 3rem;
          width: 60rem;
          border: none;
          border-radius: 3rem;
          margin-bottom: 1rem;
          text-align: center;
}
.forgotpasswordcontainerbutton{
                               background-color: #ffd700;
                               border-color: #ffd700;
                               color: #660099;
                               font-size: 1rem;
                               font-weight: bolder;
                               margin-top: 1rem;
                               height: 3rem;
                               width: 30rem;
                               border-width: medium;
                               border-radius: 3rem
                              }
.forgotpasswordcontainerbutton:hover{
                                     cursor: pointer;
                                     background-color: #000066;
                                     border-color: #000066;
                                     color: #fffafa;
                                    }
footer{
       padding-left: 5rem;
       padding-right: 5rem;
       padding-bottom: 1vmin;
      }
.optioncontainer{
                 background-color: #000066;
                 box-shadow: 0 0 10px rgba(0, 0, 0, 1.0);
                 border-radius: 1rem;
                 text-align: center;
                 margin-bottom: 1vmin;
                 width: clamp(28rem, 100vw, 84rem);
                 height: auto; 
                }
.createaccountspan{
                   float: left;
                  }
.createaccountbutton{
                     background-color: #000066;
                     color: #fffafa;
                     font-style: italic;
                     font-size: 1rem;
                     padding-left: 6rem;
                     padding-right: 6rem;
                     padding-top: 3rem;
                     padding-bottom: 3rem;
                     border: none;
                     border-bottom: none;
                     border-left: none;
                     border-color: #000066;
                     border-width: medium;
                     border-bottom-left-radius: 1rem;
                     margin: none;
                     text-align: center
                    }
.createaccountbutton:hover{
                           cursor: pointer;
                           background-color: #ff0000;
                           color: #000066;
                          }
.loginspan{
           align-items: center;
           justify-content: center;
          }
.loginbutton{
             background-color: #000066;
             color: #fffafa;
             font-style: italic;
             font-size: 1rem;
             padding-left: 12.17rem;
             padding-right: 12.17rem;
             padding-top: 3rem;
             padding-bottom: 3rem;
             border: none;
             border-bottom: none;
             border-left: none;
             border-color: #000066;
             border-width: medium;
             margin: none;
            }
.loginbutton:hover{
                   cursor: pointer;
                   background-color: #ff0000;
                   color: #000066;
                  }
.forgotpasswordspan{
                    float: right;
                   }
.forgotpasswordbutton{
                      background-color: #000066;
                      color: #fffafa;
                      font-style: italic;
                      font-size: 1rem;
                      padding-left: 8rem;
                      padding-right: 8rem;
                      padding-top: 3rem;
                      padding-bottom: 3rem;
                      border-bottom-right-radius: 1rem;
                      border: none;
                      margin: none;
                     }
.forgotpasswordbutton:hover{
                            cursor: pointer;
                            background-color: #ff0000;
                            color: #000066;
                           }